@font-face {
  font-family: "Helvetica Neue";
  src: url("//db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.eot");
  src: url("//db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0d49fc455f4a8951a42daf952412a713.svg#Helvetica Neue")
      format("svg");
}

@import url(//db.onlinewebfonts.com/c/0d49fc455f4a8951a42daf952412a713?family=Helvetica+Neue);

* {
  font-family: "Helvetica Neue";
}

input {
  border-width: 0.5px;
  height: 40px;
  width: 350px;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 3px;
}

.terms {
  font-size: 10px;
}

.session-button {
  width: 100%;
  min-height: 10%;
  height: 6vh;
  border-width: 1px;
  border-radius: 4px;
  border-color: #a88734 #9c7e31 #846a29;
  border-top-color: rgb(168, 135, 52);
  border-right-color: rgb(156, 126, 49);
  border-bottom-color: rgb(132, 106, 41);
  border-left-color: rgb(156, 126, 49);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(240, 194, 76, 0.5) 5%,
    rgba(240, 194, 76, 0.75) 30%,
    rgba(240, 194, 76, 0.9) 60%
  );
}

.demo-button {
  width: 99%;
  background-color: #e7e9ec;
  border-color: #adb1b8 #a2a6ac #8d9096;
  min-height: 10%;
  height: 6vh;
  border-width: 1px;
  border-radius: 4px;
  margin: auto;
}

.form-divider {
  line-height: 1;
  font-size: 12px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  padding: 10px 8px 8px 7px;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 33%;
  padding-right: 33%;
  gap: 10px;
}

.session-title {
  display: flex;
}

.session-form {
  border: 0.8px solid lightgrey;
  border-radius: 4px;
  padding-bottom: 3%;
}

.session-form,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.session-label {
  align-self: flex-start;
}

.session-input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}
