@font-face {
  font-family: "Ember";
  src: font-url("Amazon-Ember-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: font-url("AmazonEmberDisplay_Rg.ttf") format("truetype");
}

* {
  font-family: "Ember";
}
