@import url("../fonts/Amazon-Ember-Medium.woff");
@import url("../fonts/AmazonEmberDisplay_Rg.ttf");
@font-face {
  font-family: "Ember";
  src: url("Amazon-Ember-Medium.ttf") format("truetype")
    url("Amazon-Ember-Medium.woff") format("woff");
}
@font-face {
  font-family: "Light";
  src: url("AmazonEmberDisplay_Rg.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  background-color: #eaeded;
}

header,
footer {
  font-family: "Ember";
}

img {
  cursor: pointer;
}

#select-address {
  display: flex;
  margin: 0px;
}

#hamburger {
  display: flex;
  align-content: center;
  div {
    margin-top: 4px;
  }
}

.session-input {
  border: 0.5px solid black;
  border-width: 1px;
  height: 40px;
  width: 350px;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.session-input:focus {
  outline: none;
  border-color: #e77600;
}

select {
  // border-width: 0px;
  background-color: #eff2f2;
  border-color: #adb1b8 #a1a6ac #8d9096;
  border-radius: 6px;
}

select:hover {
  border-color: #d5d9d9;
  background: #f0f2f2;
}

.terms {
  font-size: 0.8rem;
  word-wrap: break-word;
  width: 350px;
  max-width: 350px;
  text-overflow: clip;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.terms p {
  color: #0066c0;
}

.session-button {
  width: 100%;
  min-height: 10%;
  height: 6vh;
  border-width: 1px;
  border-radius: 4px;
  border-color: #a88734 #9c7e31 #846a29;
  border-top-color: rgb(168, 135, 52);
  border-right-color: rgb(156, 126, 49);
  border-bottom-color: rgb(132, 106, 41);
  border-left-color: rgb(156, 126, 49);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(240, 194, 76, 0.5) 5%,
    rgba(240, 194, 76, 0.75) 30%,
    rgba(240, 194, 76, 0.9) 60%
  );
}

#already-have-account {
  display: flex;
  gap: 6px;
  padding-right: 100px;
}

.demo-button {
  width: 100%;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  min-height: 10%;
  height: 6vh;
  border-width: 1px;
  border-radius: 4px;
  margin: auto;
}

.form-divider {
  /* line-height: 1; */
  font-size: 14px;
  color: #767676;
  font-weight: 400;
  z-index: 2;
  position: relative;
  display: inline-block;
  padding: 10px 8px 8px 7px;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 33%;
  padding-right: 33%;
  gap: 10px;
}

.session-title {
  display: flex;
  width: 350px;
}

.session-form {
  border: 0.8px solid lightgrey;
  border-radius: 4px;
  padding-bottom: 3%;
  display: flex;
}

.session-form,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.session-label {
  align-self: flex-start;
}

#nav {
  background-color: #131921;
  padding: 20px;
  width: 120vw;
}

// .nav-bar-component:hover {
//   border: 1px solid white;
// }

.nav-bar {
  display: flex;
  flex-direction: row;
  align-self: center;
}

#mag {
  width: 25px;
  height: 25px;
}

.nav-bar-search {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  gap: 20px;
}

#nav-bar-search-bar {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  max-width: 100%;
  height: 5.5vh;
  width: 600px;
}

.nav-bar-search-button {
  border-width: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-width: 0px;
  background-color: #febd69;
  height: 5.7vh;
  width: 55px;
}

.nav-bar-search-select {
  border-width: 0px;
  background-color: #e7e9ec;
  border-color: #adb1b8 #a1a6ac #8d9096;
  border-right-width: 0px;
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 45px;
  padding: 5px;
  height: 5.7vh;
}
#nav-bar-search-group {
  display: flex;
  align-items: center;
  max-height: 5vh;
}

.mapped-products-index {
  display: flex;
  list-style: none;
  position: absolute;
  top: 20vh;
  color: white;
  font-size: 8px;
}

#amazon-logo {
  width: 120px;
  object-fit: cover;
  max-height: 42px;
  margin-right: 15px;
}

#nav-pin {
  width: 20px;
  /* object-fit: cover; */
  filter: invert(100%);
  max-height: 27px;
  margin-right: 2px;
}

#nav-cart {
  width: 30px;
  filter: invert(100%);
  max-height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.inverted-logo {
  position: absolute;
  left: 45%;
  object-fit: cover;
  margin: -25px 0 0 -25px;
}

.logo-div {
  max-width: 200px;
  max-height: 180px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

#categories-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
  color: #f3f3f3;
  background-color: #232f3e;
  height: 5vh;
  border: 0.5px black;
  align-items: center;
  cursor: pointer;
  // box-sizing: border-box;
}

.nav-hover:hover {
  border: 1px solid white;
  padding: 5px;
  position: relative;
}

.hovered-category:hover {
  /* padding: 5px; */
  // padding-left: 0px;
  // padding-right: 0px;
  border: 1px solid white;
}

.background-img {
  flex-shrink: 1;
  width: 100%;
  max-height: 80%;
  -webkit-mask-image: linear-gradient(180deg, #000 40%, transparent);
  mask-image: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  align-content: center;
}

#swipers {
  position: absolute;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: auto;
  top: 15%;
  left: 1vw;
  gap: 80vw;
}

.swipe-icons {
  display: flex;
  max-width: 120px;
  max-width: 120px;
  cursor: pointer;
  padding: 0px;
  filter: invert(75%);
  z-index: 5;
}

.swipe-icons:hover {
  filter: opacity(80%);
}
#swipe-left {
  transform: rotate(180deg);
}

#cart-item-count {
  position: absolute;
  color: #ff9900;
  font-size: 22.5px;
  top: 22px;
  right: 6.25%;
}
#modal-hider {
  position: absolute;
  border: 1px solid black;
  padding: 30px;
  background-color: rgb(235, 237, 237);
  top: 9vh;
  z-index: 2;
  right: 14vw;
}

.modal-content {
  color: black;
}

#pointer {
  border: solid 10px transparent;
  border-right-color: rgb(235, 237, 237);
  position: absolute;
  margin: -50px 0px 0 140px;
  transform: rotate(90deg);
}

#import-div {
  position: relative;
}
.product-showings-group {
  display: flex;
  position: relative;
  gap: 20px;
  left: 2.5%;
  top: 60%;
  padding-top: 350px;
}

.product-group {
  background-color: white;
  height: 60vh;
  width: 30vw;
  display: flex;
  z-index: 3;
  border: none;
  border-radius: 2px;
  flex-direction: column;
  padding-left: 40px;
}

.dumbbells {
  width: 8vw;
  height: 15vh;
}

.four-pics-group {
  display: flex;
  gap: 50px;
}

#index-title {
  position: absolute;
  z-index: 5;
  color: #febd69;
  font-style: oblique;
  /* font-weight: 900; */
  font-size: larger;
  left: 250px;
  top: 60px;
  text-shadow: 1px 1px 2px black;
}

footer {
  border: 5px solid black;
  position: relative;
  bottom: 0;
  width: 100%;
}

#footer {
  margin-top: 80px;
}

.back-to-top {
  margin-bottom: 40px;
  background-color: #37475a;
  margin-bottom: 0px;
}
.back-to-top p {
  display: block;
  text-align: center;
  color: white;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}
.extra-links {
  display: flex;

  background-color: #232f3e;
  padding: 50px;
  display: flex;
  color: white;
  justify-content: center;
  gap: 75px;
}
.extra-links div ul li {
  padding: 10px;
  padding-left: 0px;
  color: rgb(221, 221, 221);
}

.extra-links-two {
  background-color: #131921;
  width: 120vw;
  height: 12vh;
  color: white;
}
.extra-links-two ul {
  display: flex;
  gap: 40px;
  padding-left: 375px;
  padding-top: 40px;
  font-size: 12px;
}
.auth-modal {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-decoration: none;
}

.auth-modal a,
button {
  display: flex;
  min-height: 10%;
  height: 6vh;
  width: 12vw;
  border-width: 1px;
  border-radius: 4px;
  background-color: #febd69;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

a:visited {
  color: black;
}

.modal-trigger {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
}

.nav-grey {
  color: #d6d6d6;
  font-size: 13px;
}
.modal-content h2 {
  margin-top: 20px;
  font-weight: 900;
}

.modal-content ul li {
  margin: 10px;
  margin-left: 0px;
}

.product-wrapper img {
  padding-left: 0px;
  display: flex;
  max-height: 700px;
  margin-left: 80px;
  width: 100%;
  max-width: 600px;
  padding-bottom: 20px;
}

.product-wrapper {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
#product-show-wrapper {
  background-color: white;
}
.product-checkout-box {
  border: 0.1px solid #d5d9d9;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 5px;
  max-width: 14vw;
}

.product-description-box {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
}
.inventory-level {
  color: rgb(0, 118, 0);
  font-size: 20px;
}
.product-title {
  font-size: 25px;
  width: 85%;
}

#amazon-ad {
  vertical-align: top;
  display: flex;
  margin: auto;
}

.price-container-wrapper {
  gap: 100px;
}

.price-container {
  display: flex;
  gap: 7px;
  margin-bottom: 15px;
}

.price-label {
  font-size: 20px;
  color: rgb(86, 89, 89);
}

.actual-price {
  font-size: 25px;
  color: rgb(177, 39, 4);
}

#prime-logo {
  max-width: 85px;
  max-height: 40px;
  border: none;
  padding-top: 0px;
  /* margin-bottom: 100px; */
  margin-left: 0px;
  /* border: 1px solid black; */
}

.price-label-and {
  font-size: 20px;
}

.pay-later-wrapper,
.other-sellers span,
.green {
  color: #007185;
}

.pay-later,
.new-and-used-img {
  color: rgb(177, 39, 4);
}

#ratings-wrapper,
.secure-transaction-wrapper,
.new-and-used {
  display: flex;
  gap: 5px;
}

.secure-transaction-wrapper div {
  margin-top: 5px;
}

.lock-icon {
  color: #999999;
  width: 5px;
  height: 5px;
}
.description-title {
  font-weight: 1000;
  padding: 10px;
  padding-left: 0px;
}

.actual-description {
  font-family: "Light";
}

.other-sellers {
  margin-top: 10px;
}

#free-returns {
  display: flex;
}

.product-checkout-buttons button {
  border-radius: 25px;
  border: none;
  margin-bottom: 10px;
  height: 40px;
}

.add-to-cart-button {
  background-color: #ffd811;
}

.add-to-cart-button:hover,
.checkout-button:hover {
  background-color: #cfb11c;
}

.buy-now-button:hover {
  background-color: #c08a42;
}
.manazons-choice {
  background-color: #232f3e;
  padding: 5px;
  height: 25px;
  border-right: none;
}

.manazons-choice div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.manazons-choice div span {
  color: #f69931;
  font-family: Arial, Helvetica, sans-serif;
}

.choice-triangle {
  width: 25px;
  height: 25px;
  border-top: 25px solid #232f3e;
  border-right: 25px solid transparent;
  border-left: none;
}

#choice {
  display: flex;
}
.review-title {
  margin-top: 3px;
}
.rating-body-wrapper {
  display: flex;
  gap: 5px;
  font-size: 18px;
}
.review-user-details {
  display: flex;
  gap: 10px;
}
.review-user-details div {
  font-family: "Light";
  margin-top: 15px;
}

.review-date {
  color: rgb(86, 89, 89);
}

.review-body {
  border: 1px solid black;
}

.show-stars {
  color: #ffa41b;
  text-shadow: #e1802d;
}

.reviews-container-wrapper {
  padding-left: 30px;
  margin-top: 30px;
}

.customer-review-title {
  font-size: 25px;
  // color: #e1802d;
  margin-bottom: 20px;
}

#customer-reviews-title {
  // color: #e1802d;
  margin-bottom: 20px;
  font-size: 25px;
  margin-top: 30px;
  padding-right: 10px;
}

.whole-review-wrapper,
.review-date-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // margin-bottom: 10px;
}

.verified-purchase {
  color: #c45500;
  display: flex;
}

.delete-button {
  border: 1px solid black;
  padding: 5px;
}

.product-review-divider {
  margin-top: 50px;
  margin-bottom: 50px;
}
.product-show-reviews {
  border: 1px solid black;
  padding-left: 50px;
  padding-right: 150px;
  // margin-right: 75px;
}

.product-show-reviews-wrapper {
  display: flex;
  padding: 15px;
}
#global-rating {
  color: #565959;
  margin-top: 5px;
}
#stars-and-rating-flex {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

#stars-and-rating-flex span {
  margin-top: 5px;
}
.star-label-wrapper {
  display: flex;
  gap: 15px;
}

.star-label {
  white-space: nowrap;
  color: #007185;
}
.star-label-and-review-boxes-wrapper {
  display: flex;
}
.review-boxes div {
  display: flex;
  // gap: 0px;
}
.review-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.review-boxes-orange {
  border-radius: 4px;
  box-shadow: inset -2px 0 0 -1px #f5961d, inset 0 0 0 1px #de7921;
  background-color: #ffa41c;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.review-boxes-grey {
  // overflow: hidden;
  box-shadow: inset 0 0 0 1px #e3e6e6;
  background-color: #f0f2f2;
  height: 20px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ratings-modal {
  display: flex;
  gap: 5px;
  div {
    color: #007185;
    cursor: pointer;
  }
}

.ratings-modal div:hover {
  color: #c7511f;
}
.ratings-modal-arrow {
  transform: rotate(90deg);
  max-height: 20px;
  max-width: 30px;
}

.rating-modal-dropdown {
  width: 40%;
}

.delete-review-button {
  background-color: transparent;
  border: none;
  height: 1vh;
  width: 4vw;
}

// cart checkout
.quantity-select {
  border-radius: 5px;
  font-size: 11px;
  height: 25px;
  width: 60px;
  background-color: #eff2f2;
  color: #5e6161;
}

.quantity-select:hover {
  color: #0f1111;
  background: #e3e6e6;
  box-shadow: 0 1px 2px 0 #5e6161;
}

.free-delivery span {
  font-weight: 700;
}

.free-delivery div {
  color: #565959;
  font-size: 16px;
}

.bars-wrappers {
  width: 200px;
}

.cart-container {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  background-color: #eaeded;
}

.cart-product-img {
  height: 200px;
  width: 160px;
  margin-right: 15px;
}

.cart-item-wrapper {
  // display: flex;
  background-color: white;
  margin-left: 30px;
  padding: 40px;
  margin-top: 50px;
  width: 95%;
  border: 2px solid #e2e2e2;
}

.checkout-button-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-right: 30px;
  padding: 40px;
  margin-top: 50px;
  gap: 20px;
  border: 2px solid #e2e2e2;
  height: 250px;
}

.checkout-button {
  background-color: #ffd811;
  width: 100%;
  min-height: fit-content;
  border-color: #fcd300;
  height: 40px;
}
.product-title {
  font-size: 18px;
}

.cart-in-stock {
  color: rgb(0, 118, 0);
}

.cart-prime-free-return {
  display: flex;
}

.each-cart-item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}
.shopping-cart {
  color: white;
  display: flex;
  flex-direction: row;
}
.shopping-cart-label {
  padding-bottom: 30px;
  margin: 10px;
}

.shopping-cart-literal {
  font-size: 30px;
}

.cart-select-all-items {
  color: #007185;
  cursor: pointer;
}
.cart-quantity-dropdown-wrapper {
  width: 75px;
}

.cart-quantity-dropdown {
  width: 65px;
  display: flex;
  border-radius: 6px;
  height: 5vh;
}

.cart-delete-button {
  height: 1px;
  width: 40px;
  background-color: transparent;
  border: none;
  color: #007185;
  font-size: 16px;
  margin-top: 18px;
}

.cart-dropdown-delete-button-wrapper {
  display: flex;
  gap: 10px;
}

.cart-delete-button:hover {
  color: #c7511f;
  text-decoration: underline;
}
.cart-item-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  // width: 52.5vw;
  margin-left: auto;
}

.cart-product-quantity {
  margin-top: 10px;
}

.cart-product-price {
  display: flex;
  flex-direction: row;
  // align-self: flex-end;
  align-content: right;
  font-weight: 800;
  font-size: 25px;
}

#cart-item-parent {
  display: flex;
  justify-content: space-between;
}

.checkout-box-wrapper {
  display: flex;
}

.cart-subtotal {
  font-size: 25px;
  margin-left: auto;
}
.cart-subtotal-part-two {
  font-size: 20px;
  margin-left: auto;
}
.cart-subtotal span {
  font-weight: 900;
}
